# Node.js dependencies
server/node_modules/
server/package-lock.json

# Server files
server/package.json
server/README.md
server/server.js

# Remote logger logs - mengabaikan semua file log
server/logs/
*.log
